<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>Label</key><string>com.creator-metrics-collector.threads-publisher</string>
<key>ProgramArguments</key><array><string>__NPM_PATH__</string><string>run</string><string>post:threads:due</string></array>
<key>WorkingDirectory</key><string>__PROJECT_DIR__</string>
<key>EnvironmentVariables</key><dict><key>PATH</key><string>__SAFE_PATH__</string></dict>
<key>StartInterval</key><integer>300</integer>
<key>ProcessType</key><string>Background</string>
<key>StandardOutPath</key><string>__STDOUT_PATH__</string>
<key>StandardErrorPath</key><string>__STDERR_PATH__</string>
</dict></plist>
